.app-header {
    position: fixed;
    width: 100%;
    height: $header-height;
    z-index: 3000;
    background-color: transparent;
    transition: background-color 0.7s;

    &.opaque-background {
        background-color: $background-color;
    }

    .toggle-menu {
        @include clean-button;
        height: 1.5rem;
        width: 1.5rem;
        background: url('../../img/icons/hamburger-menu.svg');
        background-position: center;
        margin-block: 1em;
       }

    .menu-drawer {
        &::part(overlay) {
            background-color: $overlay-color;
        }
        &::part(panel) {
            background-color: $background-color;
            padding: 1rem;
        }
        &::part(header) {
            padding-block-end: 0.5rem;
            font-size: 1.05em;
            color: $dark-text-color;
        }
    }

    .app-nav {
        ul li {
            .active {
                color: $secondary-color;
            }
        }
    }
}