.testimonials {
    height: 100vh;
    // background-color: green;

    h2 {
        font-size: 2rem;
        padding-block-end: 1rem;
    }

    .carousel {

        &::part(base) {
            height: 70vh;
            // background-color: yellow;
        }

        &::part(scroll-container) {
            max-width: 90%;
            // background-color: pink;
            justify-self: center;
            
            
        }

        .carousel-item {
            article {
                img {
                    max-height: 85%;
                }

                h3 {
                    padding-inline-start: 0.2em;
                }
            }
        }
        }
}