/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $padded-break-narrow) {
      @content;
    }
  }
  
  @mixin for-narrow-layout {
    @media (min-width: $padded-break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $padded-break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $padded-break-wide) {
      @content;
    }
  }

  // hero height 

  @mixin set-hero-height($index) {
    height: nth($hero-heights, $index);
    
    @include for-normal-layout {
      height: nth($hero-heights, 1);
    }
  }

  // buttons

  @mixin clean-button {
    border: none;
    background-color: transparent;
    font-size: inherit;
  }