// Colors
$background-color: #fcfafc;
$main-text-color: #100c12;
$dark-text-color: #0b080c;
$primary-color: #43766C;
$secondary-color: #76453B;
$overlay-color: hsl(240 3.8% 46.1% / 33%);

// Layout
$layoutPadding: 24px;

// Layout Breakpoints
$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

// Text sizes

$small-text: 20px;

// Sizes
$hero-heights: 600px, 400px;
$hero-height: 600px;
$header-height: 80px;
